*{
    margin:0;
    padding:0;
}

.my-nav{
    background:#1c1c1c;
    padding:0px;
}
.header{
    color:#e5474b;
    font-family: 'Pacifico', cursive;
    text-align:center;
    font-weight:500;
    font-size:30px;
    text-align:center;
   margin-top:10px;
}
.my-menu {}
.my-menu li {}
.my-menu li a {
    text-decoration: none;
    padding: 12px 25px;
    color: white;
   
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    transition :all .6s ease-in-out;

}

.my-menu li a:hover{
    color:grey;
}

.my-list{
    margin-top:20px;
}


.banner{
    background: url(../img/banner.jpg) no-repeat;
   
    background-size: cover;
   
}





.banner-text-area{
    height:90vh;
    display:flex;
    align-items: center;
    position:relative;
}

.banner-text-area h1 span{
   
    margin: 0px 0px  34.997px;
    color:white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    font-weight:700px;
   
}


 

.login-btn{
   
    text-decoration: none;
    border:1px solid white;
    
    float:left;
    padding:10px 10px;
     margin: 0;

    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff;
    color: #ffffff !important;
    transition :all .4s ease-in-out;


}
.login-btn:hover{
    background:grey;
}

/* section 2 */

.section-2{
    border-bottom:1px solid white;
    background:white;
   margin: 25px;
}

h2{
    color: #e5474b;
}

.text{
    padding:15px;
    margin-top:30px;
}

.pra{
    font-size: 20px;
    margin-bottom:35px;
    margin-top:35px;
}
.learn-btn{

text-decoration: none;
border:1px solid red;
color: red !important;
padding:5px 15px 8px 15px;
margin-top:0px;
transition :all .6s ease-in-out;

}

.learn-btn:hover{
    background:#fce4b7 ;
    opacity: 1;
}

/* section 2 end */



/* sec 3 start */
.sec-3{
    border:1px solid white;
   
}
.gallery{
    /* float:right; */
  
   

}

.my-card{
    /* margin:60px 0px; */
    border:1px solid white;
    /* float: left; */
    margin-top:40px;
  
}

.img img{
    width:100%%;
  
    margin-top:20px;

}

.text{
    padding:0;
    font-size:17px;
    color:black;
    font-family: 'Lato', sans-serif;
    text-align:justify;
    align-items: center;
    margin-right:90px;
   
  
}


/* sec4 */
.text-1 h3{
color: #e5474b ; 
font-family: 'Lato', sans-serif;
font-weight: bold;
margin-top:25px;
margin-bottom:25px;
}

.text-1 p{
    color:#717171;
    font-family: 'Lato', sans-serif;
    margin-bottom:20px;
    text-align:justify;
}

.laptop{
    color:grey;
    font-size:40px;
   align-items: center;
}

.gem{

    color:grey;
    font-size:40px;
   align-items: center;

}
/* sec4 end */



/* footer */

.footer{
    background-color:#e5474b;
    margin-top:39px;
}

.footer h2{
    color:white;
    text-align:left;
    padding-top:25px;
    padding-bottom:10px;
    font-family: 'Lato', sans-serif;
    font-size:35px;
    font-weight: bold;
    
}

.email{
    color:white;
    font-size:25px;
    padding-bottom:20px;
    font-family: 'Lato', sans-serif;
}

.name{
    color:white;
    font-size:25px;
    padding-bottom:20px;
    font-family: 'Lato', sans-serif;
}

.message{
    color:white;
    font-size:25px;
    padding-bottom:20px;
    font-family: 'Lato', sans-serif;

}


.newsletter input[type="email"] {
    border:5px solid #f2a3a5;
}

.newsletter input[type="text"] {
    border:5px solid #f2a3a5;
}

textarea {
    border:5px solid #f2a3a5;
}

.copyright{
    color:black;
    font-size:35px;
    font-family: 'Pacifico', cursive;
    text-align:center;
    padding:20px;

}



/* Generic CSS */
.main h1{
    color:#e5474b;
    font-weight:500;
    font-family: 'Lato', sans-serif;
    margin-bottom:20px;
    margin-top:40px;
}
.main-img img{
    width:80%;
    margin-top:30px;
}

.para p{
    margin-top:35px;
    color:#111111;
    font-size: 18px;
    font-family: "Lato",sans-serif;
    text-align:justify;
}